<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.bmw.yamaica.ea.ui.exportCategory"
            name="Enterprise Architect">
      </category>
      <wizard
            category="de.bmw.yamaica.ea.ui.exportCategory"
            class="de.bmw.yamaica.ea.ui.internal.franca.ExportWizard"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/elements_obj.gif"
            id="de.bmw.yamaica.ea.ui.exportWizard"
            name="Franca to EA XMI">
         <description>
            Converts Franca interface definition files to Enterprise Architect XMI data.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.bmw.yamaica.ea.ui.importCategory"
            name="Enterprise Architect">
      </category>
      <wizard
            category="de.bmw.yamaica.ea.ui.importCategory"
            class="de.bmw.yamaica.ea.ui.internal.franca.ImportWizard"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/elements_obj.gif"
            id="de.bmw.yamaica.ea.ui.importWizard"
            name="Franca Interface Definition Files from Enterprise Architect Project">
         <description>
            Converts Enterprise Architect packages to Franca interface definition files.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="de.bmw.yamaica.ea.ui"
            type="export"
            wizardId="de.bmw.yamaica.ea.ui.exportWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.common.core.yamaicanature">
                  </test>
                  <or>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.fidl">
                     </test>
                  </or>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.common.core.yamaicanature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="de.bmw.yamaica.ea.ui"
            type="import"
            wizardId="de.bmw.yamaica.ea.ui.importWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.common.core.yamaicanature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="de.bmw.yamaica.common.ui.yamaicaImportWizards">
      <wizard
            importWizardId="de.bmw.yamaica.ea.ui.importWizard">
      </wizard>
   </extension>
   <extension
         point="de.bmw.yamaica.common.ui.yamaicaExportWizards">
      <wizard
            exportWizardId="de.bmw.yamaica.ea.ui.exportWizard">
      </wizard>
   </extension>
</plugin>
