<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.bmw.yamaica.ea.ui.importCategory"
            name="Enterprise Architect">
      </category>
      <wizard
            category="de.bmw.yamaica.ea.ui.importCategory"
            class="de.bmw.yamaica.ea.ui.internal.franca.ImportWizard"
            icon="icons/yamaica.png"
            id="de.bmw.yamaica.ea.ui.franca.importWizard"
            name="Franca Interface Definition Files from Enterprise Architect Project">
         <description>
            Converts Enterprise Architect packages to Franca interface definition files.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="de.bmw.yamaica.ea.ui.internal.franca"
            type="import"
            wizardId="de.bmw.yamaica.ea.ui.franca.importWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.base.core.yamaicanature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="de.bmw.yamaica.base.ui.yamaicaImportWizards">
      <wizard
            importWizardId="de.bmw.yamaica.ea.ui.franca.importWizard">
      </wizard>
   </extension>
</plugin>
